<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
    <title th:text="${'Edit Employee: ' + empl.name + ' ' + empl.surname}"></title>
</head>
<body>

<div th:insert="base/navbar :: navbar">  </div>

<div class="container-fluid pt-5">
<!--    <h1 class="fs-2 text-left mb-5 mt-5" th:text="${'Edit employee: ' + empl.name + ' ' + empl.surname}"></h1>-->
    <div class="content-center">
        <form th:action="${'/employee/edit/' + empl.id}" th:object="${empl}" method="post">
            <div class="form-group p-5 border shadow" style="border-radius: 10px;">
                <h1 class="fs-3 text-left mb-5" >Edit Employee:</h1>
                <div class="row form-field">
                    <div class="col">
                        <label class="mr-sm-2">Name: </label>
                        <input class="form-control" type="text" th:field="*{name}" placeholder="Name here" required/>
                    </div>
                    <div class="col">
                        <label class="mr-sm-2">Surname: </label>
                        <input class="form-control" type="text" th:field="*{surname}" placeholder="Surname here" required/>
                    </div>
                </div>
                <div class="form-field">
                    <label class="mr-sm-2">Phone number: </label>
                    <input class="form-control" type="text" th:field="*{phoneNumber}" placeholder="Phonenumber here" required/>
                </div>
                <div class="form-field">
                    <label class="mr-sm-2">Surname: </label>
                    <input class="form-control" type="text" th:field="*{email}" placeholder="Email here" required/>
                </div>
                <div class="form-field">
                    <label class="mr-sm-2">Home address: </label>
                    <input class="form-control" type="text" th:field="*{homeAddress}" placeholder="Home address here" required/>
                </div>
                <div class="form-field">
                    <label class="mr-sm-2">Resume url: </label>
                    <input class="form-control" type="text" th:field="*{resumeUrl}" placeholder="Url to resume here" required/>
                </div>
                <div class="form-field">
                    <label class="mr-sm-2">Date of birth: </label>
                    <input class="form-control" type="date" th:field="*{dateOfBirth}" required />
                </div>

                <div class="form-field">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Specification:</label><br>
                <select class="custom-select form-select mr-sm-2" name="specification" id="inlineFormCustomSelect">
                    <option value="Nan" th:selected="${empl.specification == null}">Choose...</option>
                    <option th:each="spec : ${specs}" th:value="${spec.id}" th:text="${spec.name}" th:selected="${empl.specification?.id == spec.id}"></option>
                </select>
                </div>

                <div class="row form-field">
                    <div class="col">
                        <label class="mr-sm-2">Hire Date:<br>
                            <input class="form-control" type="date" th:field="*{hireDate}" required/>
                        </label>

                    </div>
                    <div class="col">
                        <label class="mr-sm-2">Fired Date:<br>
                            <input class="form-control" type="date" th:field="*{firedDate}"/>
                        </label>

                    </div>
                </div>

                <input class="btn btn-primary fs-4 submit-btn" type="submit" value="Edit">

            </div>
        </form>
    </div>
</div>
</body>
</html>
